
<div class="c-tabs js-tabs">
    <div class="c-tabs__control">
        <span class="c-tabs__tab js-tab-link is-active" data-index="orders">طلبات تتطلب المعالجة</span>
        <span class="c-tabs__tab js-tab-link" data-index="products">منتجات على وشك النفاذ</span>
        <span class="c-tabs__tab js-tab-link" data-index="clients">زبائن جدد</span>
    </div>
    <div class="c-tabs__content">
        <div class="c-tabs__area js-tabarea is-active" data-indexed="orders">
            <div class="c-list">
                <img class="c-list__media" alt="" src="../assets/images/black-shirt.jpg">
                <span class="c-list__data">قميص أسود</span>
                <span class="c-list__data">علي جابر</span>
                <span class="c-list__data">دمشق، سوريا</span>
                <span class="c-list__data">19.99$</span>
                <div class="c-list__actions">
                    <a href="#" class="c-btn c-btn--small c-btn--primary c-list__action">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small c-list__action">تواصل</a>
                    <a href="#" class="c-btn c-btn--small c-btn--destructive c-list__action">حذف الطلب</a>
                </div>
            </div>
        </div>
        <div class="c-tabs__area js-tabarea" data-indexed="products">
            <div class="c-list">
                <img class="c-list__media" alt="" src="../assets/images/black-shirt.jpg">
                <span class="c-list__data">قميص أسود</span>
                <span class="c-list__data">علي جابر</span>
                <span class="c-list__data">دمشق، سوريا</span>
                <span class="c-list__data">19.99$</span>
                <div class="c-list__actions">
                    <a href="#" class="c-btn c-btn--small c-btn--primary c-list__action">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small c-list__action">تواصل</a>
                    <a href="#" class="c-btn c-btn--small c-btn--destructive c-list__action">حذف الطلب</a>
                </div>
            </div>
            <div class="c-list">
                <img class="c-list__media" alt="" src="../assets/images/black-shirt.jpg">
                <span class="c-list__data">قميص أسود</span>
                <span class="c-list__data">علي جابر</span>
                <span class="c-list__data">دمشق، سوريا</span>
                <span class="c-list__data">19.99$</span>
                <div class="c-list__actions">
                    <a href="#" class="c-btn c-btn--small c-btn--primary c-list__action">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small c-list__action">تواصل</a>
                    <a href="#" class="c-btn c-btn--small c-btn--destructive c-list__action">حذف الطلب</a>
                </div>
            </div>
            <div class="c-list">
                <img class="c-list__media" alt="" src="../assets/images/black-shirt.jpg">
                <span class="c-list__data">قميص أسود</span>
                <span class="c-list__data">علي جابر</span>
                <span class="c-list__data">دمشق، سوريا</span>
                <span class="c-list__data">19.99$</span>
                <div class="c-list__actions">
                    <a href="#" class="c-btn c-btn--small c-btn--primary c-list__action">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small c-list__action">تواصل</a>
                    <a href="#" class="c-btn c-btn--small c-btn--destructive c-list__action">حذف الطلب</a>
                </div>
            </div>
        </div>
        <div class="c-tabs__area js-tabarea" data-indexed="clients">
            <div class="c-list">
                <img class="c-list__media" alt="" src="../assets/images/black-shirt.jpg">
                <span class="c-list__data">قميص أسود</span>
                <span class="c-list__data">علي جابر</span>
                <span class="c-list__data">دمشق، سوريا</span>
                <span class="c-list__data">19.99$</span>
                <div class="c-list__actions">
                    <a href="#" class="c-btn c-btn--small c-btn--primary c-list__action">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small c-list__action">تواصل</a>
                    <a href="#" class="c-btn c-btn--small c-btn--destructive c-list__action">حذف الطلب</a>
                </div>
            </div>
            <div class="c-list">
                <img class="c-list__media" alt="" src="../assets/images/black-shirt.jpg">
                <span class="c-list__data">قميص أسود</span>
                <span class="c-list__data">علي جابر</span>
                <span class="c-list__data">دمشق، سوريا</span>
                <span class="c-list__data">19.99$</span>
                <div class="c-list__actions">
                    <a href="#" class="c-btn c-btn--small c-btn--primary c-list__action">تم الشحن</a>
                    <a href="#" class="c-btn c-btn--small c-list__action">تواصل</a>
                    <a href="#" class="c-btn c-btn--small c-btn--destructive c-list__action">حذف الطلب</a>
                </div>
            </div>
        </div>
    </div>
</div>

