.page-header{
    display:flex;
    align-items: baseline;
    margin:spacing("wide") 0;

    .page-title{
        font-family: $family-heading;
    }

    .c-btn{
        margin:0 spacing();

        &:first-of-type{
            margin-right:spacing("wide");
        }
    }
}