$indicator-size:10px;

.c-actions{
    @include e-card;
    width:100%;
    padding:0 spacing("extra-small");
    list-style:none;
}

.c-action{
    display:flex;
    align-items:center;
    padding:(calc(spacing("extra-small")/2)) spacing("extra-small");
    border-bottom:1px solid rgba(darken($color-brand,40%),0.1);
    flex-wrap:wrap;

    &:last-child{
        border-bottom:none;
    }
}

.c-action__title{
    margin-left:auto;
}

.c-action::before{
    content:'';
    width:$indicator-size;
    height:$indicator-size;
    border-radius:calc($indicator-size / 2);
    background-color:$color-brand;
    margin-left:spacing();
    display: block;
}

.c-action__link,.c-action__title{
    margin-top:calc(spacing("extra-small")/2);
    margin-bottom:calc(spacing("extra-small")/2);
}

.c-actions--one-line{
    .c-action{
        flex-wrap:nowrap;
        position: relative;
        &::before{
            position: absolute;
            right:0;
            top:calc(50% - calc($indicator-size/2));
            margin-right:5px;
        }
    }

    .c-action__title{
        white-space: nowrap;
        overflow:hidden;
        text-overflow: ellipsis;
        margin-right:15px;
    }
}