.c-card{
    @include e-card;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    padding:calc(spacing("normal")/2) spacing("normal"); 
}

.c-card__title{
    flex-grow: 1;
    font-weight:normal;
    font-size:17px;
    margin-left:spacing();
    color:$color-title-subdued;
    margin-top:calc(spacing("normal")/2);
    margin-bottom:calc(spacing("normal")/2);
}

.c-card__action{
    margin-top:calc(spacing("normal")/2);
    margin-bottom:calc(spacing("normal")/2);
}

.c-card__desc{
    width:100%;
    font-size:14px;
}

.c-card--no-desc{
    align-items:center;
}

.c-card--no-action{

    .c-card__desc{
        margin-top:0;
    }
}