.c-form{
    display:flex;
    align-items:flex-start;
}

.c-form__row{
    display:flex;
    align-items:baseline;
    justify-content: space-between;
    > * {
        margin-left:spacing("small");
        margin-right:spacing("small");
    }
}