.c-form{
    display:flex;
    align-items:flex-start;
}

.c-form__row{
    display:flex;
    align-items:baseline;
    justify-content: space-between;
    > * {
        margin-left:spacing("small");
        margin-right:spacing("small");
    }
}

@media(max-width:$bp-desktop-small){
    .c-form{
        flex-wrap:wrap;
    }

    .c-upload + .c-form__controls{
        margin-right:0 !important;
    }

    .c-textfield{
        margin-right:0;
    }
}